.transition-button{
    background-color: blue;
    transition: background-color 5s;
}
.transition-button:hover{
    background-color: green;
}
.transition-div{
    width: 100px;
    background-color: aquamarine;
    transition: width 1s;
}
.transition-div:hover{
    width: 200px;
    background-color: blueviolet;
}